<h1  style="padding-left: 100px;padding-top: 50px;text-align: center;">ALL POSTS</h1>


<table class="table table-bordered mx-auto mt-5" style="
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 50px;
    width: 1050px;
    ">

    <thead>
        <tr>

            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th></th>
            <th>Date</th>
            <th></th>
            <th></th>

        </tr>
    </thead>

    <tbody>

        {{#each posts}}

        <tr>

            <td>{{_id}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
            <td><a href="/posts/{{id}}">View</a></td>
            <td>{{currentTime posts.postTime "DD-MM-YYYY"}} </td>
            <td><a href="/posts/edit/{{slug}}" class="btn btn-info">Edit</a></td>
            <td>

                <form action="/posts/delete/{{slug}}" method="POST">

                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>



            </td>

        </tr>


        {{/each}}
    </tbody>



</table>